@model WebMessager.ViewModels.CurrentChatViewModel;


<div>
    <label>Сообщения</label>

    @foreach (var mes in Model.Messages)
    {
<div>

    <p>@mes.Text</p>
    <p>@mes.Date</p>


</div>
    }

</div>
