@model WebMessager.ViewModels.ChatViewModel;


@{
    ViewData["Title"] = "Home Page";
}





<div>
    @section ListOfUsers {
        @await Component.InvokeAsync("UserChats")
    }
    @section ListOfFriends {
        @await Component.InvokeAsync("ListOfFriends")
    }
    @section CurrentMessages {
        @await Component.InvokeAsync("CurrentChat", Model)
    }

</div>
<br />
<form asp-action="Logout" asp-controller="Account" asp-anti-forgery="true">
    <div class="form-group">
        <input type="submit" value="Выйти" class="btn btn-outline-dark" />
    </div>
</form>

